__pycache__/
.idea/
tabula-java/
pdfact/
xpdf-tools-linux-4.03/
/data
out/
gtfs-validator/

old/
.ipynb_checkpoints/

# drawio backups
*.bkp

# Libreoffice files
*.ods

# Build/Setup
**/build/
**/*.egg-info/

# Venv
venv
venv/

# Poetry
poetry.lock
